<div id="<%= dom_id variant %>">
  <p>
    <strong>Var text:</strong>
    <%= variant.var_text %>
  </p>

  <p>
    <strong>Correct:</strong>
    <%= variant.correct %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= variant.question_id %>
  </p>

</div>
