<h1>Exam#exam_result</h1>
<p>Find me in app/views/exam/exam_result.html.erb</p>
<div id="exam-result">
<h1>Ваши баллы: <%= Examine.last.score %></h1>
<%= form_with url: exam_cabinet_path, method: :get do |form| %>
  <%= form.submit('Вернуться в личный кабинет', id: 'to-cabinet-btn') %>
<% end %>
<div>
